<nav class="navbar navbar-expand-lg navbar-grey bg-grey">
	<div class="container-fluid">
		<nav class="nav flex-column flex-sm-row">
			<a class="flex-sm-fill text-sm-center" href="">Save More on App</a>
			<a class="flex-sm-fill text-sm-center" href="">Daraz affiliate program</a>
			<a class="flex-sm-fill text-sm-center" href="">Sell on Daraz</a>
			<a class="flex-sm-fill text-sm-center" href="">Customer Care</a>
			<a class="flex-sm-fill text-sm-center" href="">Track my order</a>
			<a class="flex-sm-fill text-sm-center" href="">login</a>
			<a class="flex-sm-fill text-sm-center" href="">signup</a>
			<a class="flex-sm-fill text-sm-center" href="">زبان تبدیل کریں</a>
		</nav>
	</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="">
			<img src="assets/images/daraz-logo.png" alt="Daraz" />
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="d-flex search-form">
				<div class="input-group">
					<input
						type="search"
						class="form-control"
						placeholder="Search in Daraz"
						aria-label="Search"
					/>
					<button class="input-group-text" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</form>

			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="">
						<i class="fa fa-shopping-cart"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link download-app" href="">
						<img
							src="assets/images/daraz-app-link.png"
							alt="daraz app"
						/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
