<div class="d-flex justify-content-center" *ngIf="loading">
	<div class="spinner-grow text-primary" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>

<div class="section-header" *ngIf="!loading">
	<h3 class="section-title">Categories</h3>
	<a
		class="pull-right"
		*ngIf="activeRoute === '/'"
		[routerLink]="['/categories']"
	>
		See All
		<i class="fa fa-chevron-right"></i>
	</a>
</div>

<div class="row categories" *ngIf="!loading">
	<app-category-item
		*ngFor="let category of categories"
		[category]="category"
	></app-category-item>
</div>
