<div class="section-header">
	<h3 class="section-title">Categories</h3>
	<a
		class="pull-right"
		*ngIf="activeRoute === '/'"
		[routerLink]="['/categories']"
	>
		See All
		<i class="fa fa-chevron-right"></i>
	</a>
</div>

<div class="d-flex justify-content-center" *ngIf="loading">
	<div class="spinner-grow text-primary" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>

<div class="row categories" *ngIf="!loading">
	<app-category-item
		*ngFor="let category of categories"
		[category]="category"
		(confirmDelete)="onShowModal($event)"
	></app-category-item>
</div>

<div
	class="modal"
	tabindex="-1"
	role="dialog"
	[style.display]="deleteInfo.showDialog"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm Delete Category</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
					(click)="onCloseModal()"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete "{{ deleteInfo.categoryTitle }}".</p>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-danger"
					(click)="onConfirmDeleteCategory()"
				>
					Delete
				</button>
				<button
					type="button"
					class="btn btn-secondary"
					data-dismiss="modal"
					(click)="onCloseModal()"
				>
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>
