<div class="section-header">
	<h3 class="section-title">Just For You</h3>
</div>

<div class="row for-you">
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 col-lg-2 card for-you-card">
		<a href="">
			<img
				src="assets/images/for-you/faminy-cream.jpg"
				class="card-img-top"
				alt="faminy-cream"
			/>
			<div class="card-body">
				<div class="card-title">FAMINY ANTI CREAM BEST RESULT 100%</div>
				<div class="price">
					<span class="currency">Rs.</span>
					<span class="price">
						{{ 128 | number: "":"en-US" }}
					</span>
				</div>
				<div class="original-price">
					<div class="price-was">
						<span class="currency">Rs.</span>
						<span class="original-price">
							{{ 200 | number: "":"en-US" }}
						</span>
					</div>
					<div class="discount">
						-{{ ((200 - 128) / 200) * 100 | number: "1.0-0" }}%
					</div>
				</div>
				<div class="rating-reviews">
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="reviews">(14)</div>
				</div>
			</div>
		</a>
	</div>
</div>
