<div class="d-flex justify-content-center" *ngIf="loading">
	<div class="spinner-grow text-primary" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>

<aside *ngIf="!loading">
	<div
		class="d-flex justify-content-center"
		*ngIf="loadingBrands || loadingSellers || loadingCategories"
	>
		<div class="spinner-grow text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<div *ngIf="!loadingBrands && !loadingSellers && !loadingCategories">
		<div class="brand" *ngIf="brands.length > 0">
			<div class="filter-type">Brands</div>
			<div class="filter-options">
				<label
					[for]="'brand' + i"
					*ngFor="let brand of brands; let i = index"
					(click)="filterProducts('brand', brand)"
				>
					<input
						type="checkbox"
						[id]="'brand' + i"
						[name]="'Brand'"
						[value]="brand"
						[checked]="filtersApplied.brand.includes(brand)"
					/>
					<span> {{ brand }}</span>
				</label>
			</div>
		</div>
		<div class="sellers" *ngIf="sellers.length > 0">
			<div class="filter-type">Sellers</div>
			<div class="filter-options">
				<label
					[for]="'seller' + i"
					*ngFor="let seller of sellers; let i = index"
					(click)="filterProducts('seller', seller._id)"
				>
					<input
						type="checkbox"
						[name]="'Seller_' + i"
						[id]="'seller' + i"
						[value]="seller._id"
						[checked]="filtersApplied.seller.includes(seller._id)"
					/>
					<span> {{ seller.name }}</span>
				</label>
			</div>
		</div>
		<div class="categories" *ngIf="categories.length > 0">
			<div class="filter-type">Categories</div>
			<div class="filter-options">
				<label
					[for]="'category' + i"
					(click)="filterProducts('category', category._id)"
					*ngFor="let category of categories; let i = index"
				>
					<input
						type="checkbox"
						[name]="'Category_' + i"
						[id]="'category' + i"
						[value]="category._id"
						[checked]="filtersApplied.category.includes(category._id)"
					/>
					<span> {{ category.title }}</span>
				</label>
			</div>
		</div>
		<!-- <div class="price">
			<div class="filter-type">Price</div>
			<div class="filter-options">
				<input type="number" placeholder="Min" />
				<span> - </span>
				<input type="number" placeholder="Max" />
				<button class="btn btn-warning">
					<i class="fa fa-play"></i>
				</button>
			</div>
		</div> -->
	</div>
</aside>

<main *ngIf="!loading">
	<div class="info-controls">
		<div class="info no-of-items">{{ fetchedProducts }} items found</div>
		<div class="controls pull-right">
			<div class="sort-by me-2">
				<label for="sort-by">Sort By: </label>
				<select class="ms-2 me-2" name="sort" id="sort-by">
					<option value="name">Name</option>
				</select>
			</div>
			<div class="view-as">
				<label for="views-as">View: </label>
				<div class="ms-2" id="view-as">
					<i class="fa fa-th-large"></i>
					<i class="fa fa-th-list ms-2"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="fetchedProducts > 0">
		<div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products">
			<app-product-item [product]="product"></app-product-item>
		</div>
	</div>

	<div class="row" *ngIf="fetchedProducts <= 0">No items found!</div>
</main>
