<div class="d-flex justify-content-center" *ngIf="loading">
	<div class="spinner-grow text-primary" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>

<aside *ngIf="!loading">
	<div class="related">
		<div class="filter-type">Related Categories</div>
		<div class="filter-options">
			<a href="">Men's Hats & Caps</a>
			<a href="">Boys' Hats & Caps</a>
			<a href="">Unisex's Hats & Caps</a>
			<a href="">Caps & Hats</a>
		</div>
	</div>
	<div class="service">
		<div class="filter-type">Service</div>
		<div class="filter-options">
			<label for="installment">
				<input
					type="checkbox"
					name="installment"
					id="installment"
					value="installment"
				/>
				<span>Installment</span>
			</label>
			<label for="cod">
				<input type="checkbox" name="cod" id="cod" value="cod" />
				<span>Cash on Delivery</span>
			</label>
			<label for="byDaraz">
				<input type="checkbox" name="byDaraz" id="byDaraz" value="byDaraz" />
				<span>Fulfilled by Daraz</span>
			</label>
		</div>
	</div>
	<div class="price">
		<div class="filter-type">Price</div>
		<div class="filter-options">
			<input type="text" placeholder="Min" />
			<span> - </span>
			<input type="text" placeholder="Max" />
			<button class="btn btn-warning">
				<i class="fa fa-play"></i>
			</button>
		</div>
	</div>
</aside>

<main *ngIf="!loading">
	<div class="info-controls">
		<div class="info no-of-items">{{ totalProducts }} items found</div>
		<div class="controls pull-right">
			<div class="sort-by me-2">
				<label for="sort-by">Sort By: </label>
				<select class="ms-2 me-2" name="sort" id="sort-by">
					<option value="name">Name</option>
				</select>
			</div>
			<div class="view-as">
				<label for="views-as">View: </label>
				<div class="ms-2" id="view-as">
					<i class="fa fa-th-large"></i>
					<i class="fa fa-th-list ms-2"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products">
			<app-product-item [product]="product"></app-product-item>
		</div>
	</div>
</main>
