<div class="section-header">
	<h3 class="section-title">Daraz Mall</h3>
	<a class="pull-right"  [routerLink]="['/products']">
		Shop More
		<i class="fa fa-chevron-right"></i>
	</a>
</div>

<div class="row mall">
	<div class="col-sm-4 col-lg-2 card mall-card">
		<a href="">
			<div class="preview-overlay"></div>
			<div class="preview">
				<img
					src="assets/images/mall/wash-dry.jpg"
					class="card-img-top img-responsive"
					alt="wash-dry"
				/>
			</div>
			<div class="store-logo">
				<img class="img-responsive" src="assets/images/mall/boss.jpeg" alt="boss">
			</div>
			<div class="card-body">
				<h5 class="card-title">Boss</h5>
				<h6 class="card-subtitle mb-2 text-muted">Boss</h6>
			</div>
		</a>
	</div>
	<div class="col-sm-4 col-lg-2 card mall-card">
		<a href="">
			<div class="preview-overlay"></div>
			<div class="preview">
				<img
					src="assets/images/mall/sandal.jpg"
					class="card-img-top img-responsive"
					alt="wash-dry"
				/>
			</div>
			<div class="store-logo">
				<img class="img-responsive" src="assets/images/mall/bata.jpeg" alt="boss">
			</div>
			<div class="card-body">
				<h5 class="card-title">Bata Shoes</h5>
				<h6 class="card-subtitle mb-2 text-muted">Shoes for All</h6>
			</div>
		</a>
	</div>
	<div class="col-sm-4 col-lg-2 card mall-card">
		<a href="">
			<div class="preview-overlay"></div>
			<div class="preview">
				<img
					src="assets/images/mall/wash-dry.jpg"
					class="card-img-top img-responsive"
					alt="wash-dry"
				/>
			</div>
			<div class="store-logo">
				<img class="img-responsive" src="assets/images/mall/boss.jpeg" alt="boss">
			</div>
			<div class="card-body">
				<h5 class="card-title">Boss</h5>
				<h6 class="card-subtitle mb-2 text-muted">Boss</h6>
			</div>
		</a>
	</div>
	<div class="col-sm-4 col-lg-2 card mall-card">
		<a href="">
			<div class="preview-overlay"></div>
			<div class="preview">
				<img
					src="assets/images/mall/sandal.jpg"
					class="card-img-top img-responsive"
					alt="wash-dry"
				/>
			</div>
			<div class="store-logo">
				<img class="img-responsive" src="assets/images/mall/bata.jpeg" alt="boss">
			</div>
			<div class="card-body">
				<h5 class="card-title">Bata Shoes</h5>
				<h6 class="card-subtitle mb-2 text-muted">Shoes for All</h6>
			</div>
		</a>
	</div>
	<div class="col-sm-4 col-lg-2 card mall-card">
		<a href="">
			<div class="preview-overlay"></div>
			<div class="preview">
				<img
					src="assets/images/mall/wash-dry.jpg"
					class="card-img-top img-responsive"
					alt="wash-dry"
				/>
			</div>
			<div class="store-logo">
				<img class="img-responsive" src="assets/images/mall/boss.jpeg" alt="boss">
			</div>
			<div class="card-body">
				<h5 class="card-title">Boss</h5>
				<h6 class="card-subtitle mb-2 text-muted">Boss</h6>
			</div>
		</a>
	</div>
	<div class="col-sm-4 col-lg-2 card mall-card">
		<a href="">
			<div class="preview-overlay"></div>
			<div class="preview">
				<img
					src="assets/images/mall/sandal.jpg"
					class="card-img-top img-responsive"
					alt="wash-dry"
				/>
			</div>
			<div class="store-logo">
				<img class="img-responsive" src="assets/images/mall/bata.jpeg" alt="boss">
			</div>
			<div class="card-body">
				<h5 class="card-title">Bata Shoes</h5>
				<h6 class="card-subtitle mb-2 text-muted">Shoes for All</h6>
			</div>
		</a>
	</div>
</div>
