.section-header .section-title {
	color: #424242;
	display: inline-block;
	font-size: 1.5rem;
	margin-left: -0.8rem;
}

.categories > * {
	padding: 0%;
}

.categories .categories-card {
	width: 12.5%;
	height: 9.25rem;
	text-align: center;
	border-top: none;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: none;
	border-radius: 0%;
}

.categories .categories-card:hover {
	box-shadow: -2px -2px 4px 0 rgba(0,0,0,.25);
}

@media (max-width: 575px) {
	.categories .categories-card {
		width: 50%;
	}
	.categories .categories-card:nth-child(15) {
		border-bottom: none;
	}
}

@media (min-width: 576px) and (max-width: 991px) {
	.categories .categories-card {
		width: 25%;
	}
	.categories .categories-card:nth-child(4),
	.categories .categories-card:nth-child(8),
	.categories .categories-card:nth-child(12) {
		border-right: none;
	}
	.categories .categories-card:nth-child(13),
	.categories .categories-card:nth-child(14),
	.categories .categories-card:nth-child(15) {
		border-bottom: none;
	}
}

@media (min-width: 992px) {
	.categories .categories-card:nth-child(8) {
		border-right: none;
	}
	.categories .categories-card:nth-child(9),
	.categories .categories-card:nth-child(10),
	.categories .categories-card:nth-child(11),
	.categories .categories-card:nth-child(12),
	.categories .categories-card:nth-child(13),
	.categories .categories-card:nth-child(14),
	.categories .categories-card:nth-child(15) {
		border-bottom: none;
	}
}

.categories .categories-card:last-child {
	border-bottom: none;
	border-right: none;
}

.categories .categories-card a {
	text-decoration: none;
	padding-top: 1rem;
}

.categories .categories-card img {
	height: 5rem;
	width: 5rem;
}

.categories .categories-card .card-body {
	padding: 0%;
}

.categories .categories-card .card-body .card-text {
	margin: 8px 0px 4px;
	font-size: 14px;
	color: #212121;
	line-height: 18px;
	height: 36px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
