<div class="container-fluid">
	<form
		class="signup-form"
		method="post"
		[formGroup]="signupForm"
		(submit)="onSignup()"
	>
		<div class="form-group">
			<label for="emailField">Email: </label>
			<input
				class="form-control"
				type="email"
				name="emailField"
				id="emailField"
				placeholder="john@doe.com"
				formControlName="email"
			/>
			<!-- <small id="emailHelp" class="form-text text-muted">
				Email should be in the format of: 'a@a.aa'
			</small> -->
			<small
				class="invalid-feedback"
				*ngIf="
					signupForm.get('email').hasError('server-error') &&
					signupForm.get('email').invalid
				"
				>{{ signupForm.get("email").errors["server-error"] }}</small
			>
		</div>
		<div class="form-group">
			<label for="passwordField">Password: </label>
			<input
				type="password"
				name="passwordField"
				class="form-control"
				id="passwordField"
				formControlName="password"
			/>
		</div>
		<small
			class="invalid-feedback invalid-feedback-form"
			*ngIf="signupForm.hasError('server-error') && signupForm.invalid"
			>{{ signupForm.errors["server-error"] }}</small
		>
		<button
			type="submit"
			class="btn btn-primary"
			[disabled]="signupForm.invalid"
		>
			Sign Up
		</button>
		<small
			class="valid-feedback valid-feedback-form"
			*ngIf="signupSuccessful !== null"
		>
			{{ signupSuccessful }}
		</small>
	</form>
</div>
