<div class="section-header">
	<h3 class="section-title">Categories</h3>
</div>

<div class="row categories">
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
	<div class="card categories-card">
		<a href="">
			<img
				src="assets/images/categories/study-exam.jpg"
				class="card-img-top"
				alt="study-exam"
			/>
			<div class="card-body">
				<p class="card-text">Study Aids & Exam Preparations</p>
			</div>
		</a>
	</div>
</div>
