.container-fluid {
	padding: 0 5rem;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) {
	.container-fluid {
		padding: 0 1rem;
	}
}

#breadcrumb.navbar .container-fluid {
	padding: 0%;
}

nav#breadcrumb {
	height: 3rem;
	--bs-breadcrumb-divider: ">";
}

nav#breadcrumb .breadcrumb {
	height: 3rem;
	line-height: 3rem;
	margin-bottom: 0;
	font-size: 18px;
}

nav#breadcrumb .breadcrumb a {
	text-decoration: none;
}

.main {
	padding: 2rem 2rem 0;
	background-color: #fff;
	margin-bottom: 1.5rem;
	overflow: auto;
}
