.navbar .container-fluid {
	margin: 0 5rem;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) {
	.navbar .container-fluid {
		margin: 0 1rem;
	}
}

#breadcrumb.navbar .container-fluid {
	padding: 0%;
}

nav#breadcrumb {
	height: 3rem;
	--bs-breadcrumb-divider: ">";
}

nav#breadcrumb .breadcrumb {
	height: 3rem;
	line-height: 2rem;
	margin-bottom: 0;
	font-size: 18px;
}

nav#breadcrumb .breadcrumb a {
	text-decoration: none;
}

.main.navbar {
	padding: 0;
}

.main.navbar .container-fluid {
	padding: 2rem;
	background-color: #fff;
}
