.product-card {
	border: none;
	border-radius: 0%;
	padding: 0 0.5rem;
	margin-right: 5%;
	margin-bottom: 1rem;
}
.product-card .card-img-top {
	height: 200px;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
}

.product-card .variants > div {
	display: inline-block;
}

.product-card .variants img {
	height: 2rem;
	width: 2rem;
	border: 1px solid #f57123;
	border-radius: 10%;
	margin-right: 0.15rem;
	margin-bottom: 0.15rem;
}

.product-card .variants > div:nth-child(5n) img {
	margin-right: 0;
}

.product-card .card-body .offer-by {
	margin-bottom: 0.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
}

.product-card .card-body .offer-by > img {
	height: 1rem;
	width: 33%;
}

.product-card .card-text {
	height: 36px;
	line-height: 18px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-bottom: 4px;
	font-size: 13px;
	color: #404040;
}

.product-card .card-text:hover {
	color: #1a9cb7;
}

.product-card a {
	text-decoration: none;
}

.product-card:hover {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.product-card .card-body {
	padding: 1rem 0.5rem 0.5rem;
}

.product-card .price {
	color: #ff6801;
}

.original-price div {
	display: inline-block;
}

.original-price .price-was {
	color: #9e9e9e;
	font-size: 12px;
	line-height: 12px;
	text-decoration: line-through;
	padding-right: 1rem;
}

.original-price .discount {
	color: #000;
	font-size: 12px;
	line-height: 12px;
}

.original-price .free-shipping {
	height: 15px;
	margin-left: 0.5rem;
}

.original-price .free-shipping img {
	height: 15px;
}

.product-card .rating-reviews > div {
	display: inline-block;
}

.product-card .rating-reviews .rating .fa-star {
	color: #faca51;
	margin-right: 3px;
	font-size: 11px;
	line-height: 11px;
}

.product-card .rating-reviews .reviews {
	font-size: 12px;
	color: #9e9e9e;
}
