<div class="card product-card">
	<a [routerLink]="['/products/detail']">
		<img
			src="assets/images/products/berets.jpg"
			class="card-img-top"
			alt="berets"
		/>
		<div class="card-body">
			<div class="variants">
				<div>
					<img src="assets/images/products/berets.jpg" alt="berets" />
				</div>
				<div>
					<img src="assets/images/products/berets.jpg" alt="berets" />
				</div>
				<div>
					<img src="assets/images/products/berets.jpg" alt="berets" />
				</div>
				<div>
					<img src="assets/images/products/berets.jpg" alt="berets" />
				</div>
				<div>
					<img src="assets/images/products/berets.jpg" alt="berets" />
				</div>
			</div>
			<div class="card-title offer-by">
				<img
					src="assets/images/products/daraz-mall.png"
					alt="daraz-mall"
				/>
			</div>
			<div class="card-text">
				LouisWill Men Berets Hats Women Berets Caps Outdoor Sunscreen
				Cap Fashion Retro Lattice Golf Flat Caps Casual Hats Unisex Hip
				Hop Berets Cotton Hats for Men Women
			</div>
			<div class="price">
				<span class="currency">Rs.</span>
				<span class="price">
					{{ 1099 | number: "":"en-US" }}
				</span>
			</div>
			<div class="original-price">
				<div class="price-was">
					<span class="currency">Rs.</span>
					<span class="original-price">
						{{ 1659 | number: "":"en-US" }}
					</span>
				</div>
				<div class="discount">
					-{{ ((1659 - 1099) / 1659) * 100 | number: "1.0-0" }}%
				</div>
				<div class="free-shipping">
					<img
						src="assets/images/products/free-shipping.png"
						alt="free-shipping"
					/>
				</div>
			</div>
			<div class="rating-reviews">
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
				<div class="reviews">(51)</div>
			</div>
		</div>
	</a>
</div>
