<div class="row site-map">
	<div class="col-sm-3">
		<div class="customer-care">
			<h5>Customer Care</h5>
			<ul class="customer-care-routes">
				<li><a href="">Help Center</a></li>
				<li><a href="">How to Buy</a></li>
				<li><a href="">Corporate & Bulk Purchasing</a></li>
				<li><a href="">Returns & Refunds</a></li>
				<li><a href="">Daraz Shop</a></li>
				<li><a href="">Contact Us</a></li>
				<li><a href="">Purchase Protection</a></li>
				<li><a href="">Daraz Pick up Points</a></li>
				<li><a href="">Fulfilled by Daraz (FBD)</a></li>
			</ul>
		</div>
		<div class="make-money">
			<h5>Make Money With Us</h5>
			<ul class="make-money-routes">
				<li><a href="">Daraz University</a></li>
				<li><a href="">Sell on Daraz</a></li>
				<li><a href="">Join Daraz Affiliate Program</a></li>
			</ul>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="about-daraz">
			<h5>Daraz</h5>
			<ul class="about-daraz-routes">
				<li><a href="">About Us</a></li>
				<li><a href="">Digital Payments</a></li>
				<li><a href="">Daraz Cares</a></li>
				<li><a href="">Daraz Blog</a></li>
				<li><a href="">Terms & Conditions</a></li>
				<li><a href="">Privacy Policy</a></li>
				<li><a href="">NTN Number : 4012118-6</a></li>
				<li><a href="">STRN Number : 1700401211818</a></li>
				<li><a href="">Online Shopping App</a></li>
				<li><a href="">Online Grocery Shopping</a></li>
				<li><a href="">Daraz Exclusive</a></li>
				<li><a href="">How to shop on Daraz</a></li>
				<li><a href="">Watch PSL Live</a></li>
			</ul>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="app-links">
			<div class="row">
				<div class="col-sm col-lg-6">
					<div class="row">
						<div class="col-sm-6 qr-code">
							<img
								src="assets/images/site-map/qr-code.png"
								alt="qr-code"
							/>
						</div>
						<div class="col-sm-6 daraz-logo">
							<p>
								<img
									src="assets/images/site-map/daraz-logo.png"
									alt="daraz-logo"
								/>
							</p>
							<p class="happy">Happy Shopping</p>
							<p>Download App</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row app-stores">
				<ul class="list-unstyled">
					<li class="d-inline">
						<a href="">
							<img
								src="assets/images/site-map/apple-store.png"
								alt="apple-store"
							/>
						</a>
					</li>
					<li class="d-inline">
						<a href="">
							<img
								src="assets/images/site-map/google-store.png"
								alt="google-store"
							/>
						</a>
					</li>
					<li class="d-inline">
						<a href="">
							<img
								src="assets/images/site-map/huawei-store.jpg"
								alt="huawei-store"
							/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
