<div class="row">
	<div class="col-6 col-sm-4 card franchise">
		<a href="">
			<div class="card-body">
				<span class="align-middle">
					<img src="assets/images/franchises/mall.png" alt="mall" />
				</span>
				<span class="card-title align-middle">DarazMall</span>
				<span class="pull-right">
					<i class="fa fa-chevron-right align-middle"></i>
				</span>
			</div>
		</a>
	</div>
	<div class="col-6 col-sm-4 card franchise">
		<a href="">
			<div class="card-body">
				<span class="align-middle">
					<img src="assets/images/franchises/mart.png" alt="mart" />
				</span>
				<span class="card-title align-middle">dMart</span>
				<span class="pull-right">
					<i class="fa fa-chevron-right align-middle"></i>
				</span></div
		></a>
	</div>
	<div class="col-6 col-sm-4 card franchise">
		<a href="">
			<div class="card-body">
				<span class="align-middle">
					<img
						src="assets/images/franchises/fashion.png"
						alt="fashion"
					/>
				</span>
				<span class="card-title align-middle">Fashion & Beauty</span>
				<span class="pull-right">
					<i class="fa fa-chevron-right align-middle"></i>
				</span></div
		></a>
	</div>
</div>
