/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: #f5f5f5;
}

@media (max-width: 575px) {
	.section-title {
		margin-left: 0 !important;
	}
}

button:focus,
.btn:focus {
	box-shadow: none !important;
}

/* Rating Stars and Bars */
.br {
	margin: 0% !important;
}

.br-default .br-units {
	align-items: center;
}

.br-default .br-unit {
	margin-right: 3px;
	font: normal normal normal 12px/1 FontAwesome;
}

.product-rate-review .ratings .stars .br-default .br-unit {
	margin-right: 0.5rem;
	font: normal normal normal 40px/1 FontAwesome;
}

.product-rate-review .ratings .last-five .stars .br-default .br-unit {
	font: normal normal normal 24px/1 FontAwesome;
}

.product-rate-review .reviews .comments .stars .br-default .br-unit {
	margin-right: 0.25rem;
	font: normal normal normal 1rem/1 FontAwesome;
}

.br-default .br-unit:after {
	content: "\f005";
	color: #d2d2d2;
}

.br-default .br-selected:after {
	color: #faca51;
}

.br-default .br-active:after {
	color: #edb867;
}

/* Rating Stars and Bars */
