<div class="container-fluid header">
	<app-carousel></app-carousel>
</div>

<div class="container-fluid main">
	<div class="page-section">
		<app-franchises></app-franchises>
	</div>
	<div class="page-section">
		<app-flash-sale></app-flash-sale>
	</div>
	<div class="page-section">
		<app-collections></app-collections>
	</div>
	<div class="page-section">
		<app-mall></app-mall>
	</div>
	<div class="page-section">
		<app-categories></app-categories>
	</div>
	<div class="page-section">
		<app-for-you></app-for-you>
	</div>
</div>
