.container-fluid.header {
	width: 100%;
	padding: 0;
	margin-bottom: 1.5rem;
}

.page-section {
	margin-bottom: 1.5rem;
}

.main.container-fluid {
	padding: 0 5rem;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) {
	.main.container-fluid {
		padding: 0 2rem;
	}
}

.row {
	margin-right: 0%;
	margin-left: 0%;
}
