<div
	id="darazCarouselIndicators"
	class="carousel slide"
	data-bs-ride="carousel"
>
	<div class="carousel-indicators">
		<button
			type="button"
			data-bs-target="#darazCarouselIndicators"
			data-bs-slide-to="0"
			class="active"
			aria-current="true"
			aria-label="Slide 1"
		></button>
		<button
			type="button"
			data-bs-target="#darazCarouselIndicators"
			data-bs-slide-to="1"
			aria-label="Slide 2"
		></button>
		<button
			type="button"
			data-bs-target="#darazCarouselIndicators"
			data-bs-slide-to="2"
			aria-label="Slide 3"
		></button>
		<button
			type="button"
			data-bs-target="#darazCarouselIndicators"
			data-bs-slide-to="3"
			aria-label="Slide 4"
		></button>
		<button
			type="button"
			data-bs-target="#darazCarouselIndicators"
			data-bs-slide-to="4"
			aria-label="Slide 5"
		></button>
		<button
			type="button"
			data-bs-target="#darazCarouselIndicators"
			data-bs-slide-to="5"
			aria-label="Slide 6"
		></button>
		<button
			type="button"
			data-bs-target="#darazCarouselIndicators"
			data-bs-slide-to="6"
			aria-label="Slide 7"
		></button>
		<button
			type="button"
			data-bs-target="#darazCarouselIndicators"
			data-bs-slide-to="7"
			aria-label="Slide 8"
		></button>
		<button
			type="button"
			data-bs-target="#darazCarouselIndicators"
			data-bs-slide-to="8"
			aria-label="Slide 9"
		></button>
		<button
			type="button"
			data-bs-target="#darazCarouselIndicators"
			data-bs-slide-to="9"
			aria-label="Slide 10"
		></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active" data-bs-interval="5000">
			<a href="">
				<img
					src="assets/images/carousel/bank-offer-of-the-day.jpg"
					class="d-block w-100"
					alt="bank-offer-of-the-day"
				/>
			</a>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<a href="">
				<img
					src="assets/images/carousel/unveiling.jpg"
					class="d-block w-100"
					alt="unveiling"
				/>
			</a>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<a href="">
				<img
					src="assets/images/carousel/gifts.jpg"
					class="d-block w-100"
					alt="gifts"
				/>
			</a>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<a href="">
				<img
					src="assets/images/carousel/daraz-mall.jpg"
					class="d-block w-100"
					alt="daraz-mall"
				/>
			</a>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<a href="">
				<img
					src="assets/images/carousel/tech-lovers.jpg"
					class="d-block w-100"
					alt="tech-lovers"
				/>
			</a>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<a href="">
				<img
					src="assets/images/carousel/winter.jpg"
					class="d-block w-100"
					alt="winter"
				/>
			</a>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<a href="">
				<img
					src="assets/images/carousel/creative.png"
					class="d-block w-100"
					alt="creative"
				/>
			</a>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<a href="">
				<img
					src="assets/images/carousel/for-him.jpg"
					class="d-block w-100"
					alt="for-him"
				/>
			</a>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<a href="">
				<img
					src="assets/images/carousel/babies.png"
					class="d-block w-100"
					alt="babies"
				/>
			</a>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<a href="">
				<img
					src="assets/images/carousel/wallet.jpg"
					class="d-block w-100"
					alt="wallet"
				/>
			</a>
		</div>
	</div>
</div>
