<div class="section-header">
	<h3 class="section-title">Collections</h3>
	<a href="" class="pull-right">
		Shop More
		<i class="fa fa-chevron-right"></i>
	</a>
</div>

<div class="row collections">
	<div class="col-sm-6 col-lg-3 card collections-card">
		<a href="">
			<div class="card-body">
				<h5 class="card-title">Diapers On Discounts ></h5>
				<h6 class="card-subtitle mb-2 text-muted">71 products</h6>
				<div class="product-images">
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/one.jpg"
						alt="one"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/two.png"
						alt="two"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/three.png"
						alt="three"
					/>
				</div>
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-lg-3 card collections-card">
		<a href="">
			<div class="card-body">
				<h5 class="card-title">Diapers On Discounts ></h5>
				<h6 class="card-subtitle mb-2 text-muted">71 products</h6>
				<div class="product-images">
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/one.jpg"
						alt="one"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/two.png"
						alt="two"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/three.png"
						alt="three"
					/>
				</div>
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-lg-3 card collections-card">
		<a href="">
			<div class="card-body">
				<h5 class="card-title">Diapers On Discounts ></h5>
				<h6 class="card-subtitle mb-2 text-muted">71 products</h6>
				<div class="product-images">
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/one.jpg"
						alt="one"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/two.png"
						alt="two"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/three.png"
						alt="three"
					/>
				</div>
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-lg-3 card collections-card">
		<a href="">
			<div class="card-body">
				<h5 class="card-title">Diapers On Discounts ></h5>
				<h6 class="card-subtitle mb-2 text-muted">71 products</h6>
				<div class="product-images">
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/one.jpg"
						alt="one"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/two.png"
						alt="two"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/three.png"
						alt="three"
					/>
				</div>
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-lg-3 card collections-card">
		<a href="">
			<div class="card-body">
				<h5 class="card-title">Diapers On Discounts ></h5>
				<h6 class="card-subtitle mb-2 text-muted">71 products</h6>
				<div class="product-images">
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/one.jpg"
						alt="one"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/two.png"
						alt="two"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/three.png"
						alt="three"
					/>
				</div>
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-lg-3 card collections-card">
		<a href="">
			<div class="card-body">
				<h5 class="card-title">Diapers On Discounts ></h5>
				<h6 class="card-subtitle mb-2 text-muted">71 products</h6>
				<div class="product-images">
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/one.jpg"
						alt="one"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/two.png"
						alt="two"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/three.png"
						alt="three"
					/>
				</div>
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-lg-3 card collections-card">
		<a href="">
			<div class="card-body">
				<h5 class="card-title">Diapers On Discounts ></h5>
				<h6 class="card-subtitle mb-2 text-muted">71 products</h6>
				<div class="product-images">
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/one.jpg"
						alt="one"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/two.png"
						alt="two"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/three.png"
						alt="three"
					/>
				</div>
			</div>
		</a>
	</div>
	<div class="col-sm-6 col-lg-3 card collections-card">
		<a href="">
			<div class="card-body">
				<h5 class="card-title">Diapers On Discounts ></h5>
				<h6 class="card-subtitle mb-2 text-muted">71 products</h6>
				<div class="product-images">
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/one.jpg"
						alt="one"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/two.png"
						alt="two"
					/>
					<img
						class="card-link img-responsive"
						src="assets/images/collections/diapers/three.png"
						alt="three"
					/>
				</div>
			</div>
		</a>
	</div>
</div>
